<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.bwc.ework.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListServlet</servlet-name>
  	<display-name>ListServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.ListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>leaveServlte</servlet-name>
  	<display-name>leaveServlte</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.leaveServlte</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>personalServlet</servlet-name>
  	<display-name>personalServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.personalServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
    	<url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ListServlet</servlet-name>
    	<url-pattern>/list.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>leaveServlte</servlet-name>
    	<url-pattern>/leave.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>personalServlet</servlet-name>
    	<url-pattern>/personal.do</url-pattern>
    </servlet-mapping>
</web-app>
