<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.bwc.ework.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>com.bwc.ework.listener.LyzListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListServlet</servlet-name>
  	<display-name>ListServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.ListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LeaveServlet</servlet-name>
  	<display-name>LeaveServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.LeaveServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PersonalServlet</servlet-name>
  	<display-name>PersonalServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.PersonalServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditNoticeServlet</servlet-name>
  	<display-name>EditNoticeServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.EditNoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditPasswordServlet</servlet-name>
  	<display-name>EditPasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.EditPasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StatisticsWorkServlet</servlet-name>
  	<display-name>StatisticsWorkServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.StatisticsWorkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagementServlet</servlet-name>
  	<display-name>UserManagementServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.UserManagementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserEditServlet</servlet-name>
  	<display-name>UserEditServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.UserEditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeployServlet</servlet-name>
  	<display-name>DeployServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.DeployServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserWorkDetailServlet</servlet-name>
  	<display-name>UserWorkDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.UserWorkDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoticeListServlet</servlet-name>
  	<display-name>NoticeListServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.NoticeListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMailServlet</servlet-name>
  	<display-name>SendMailServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.SendMailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CallBackServlet</servlet-name>
  	<display-name>CallBackServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.CallBackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserInfoEditServlet</servlet-name>
  	<display-name>UserInfoEditServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.UserInfoEditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetJsTicketServlet</servlet-name>
  	<display-name>GetJsTicketServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.GetJsTicketServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecordWorktimeServlet</servlet-name>
  	<display-name>RecordWorktimeServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.RecordWorktimeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MoneySubmitServlet</servlet-name>
  	<display-name>MoneySubmitServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.MoneySubmitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendBillServlet</servlet-name>
  	<display-name>SendBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.SendBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompanySettingServlet</servlet-name>
  	<display-name>CompanySettingServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.CompanySettingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompanyDetailServlet</servlet-name>
  	<display-name>CompanyDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.CompanyDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompanyEditServlet</servlet-name>
  	<display-name>CompanyEditServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.CompanyEditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeManageServlet</servlet-name>
  	<display-name>EmployeeManageServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.EmployeeManageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompanyManagementServlet</servlet-name>
  	<display-name>CompanyManagementServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.ework.servlets.CompanyManagementServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
    	<url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ListServlet</servlet-name>
    	<url-pattern>/list.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LeaveServlet</servlet-name>
    	<url-pattern>/leave.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PersonalServlet</servlet-name>
    	<url-pattern>/personal.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HomeServlet</servlet-name>
    	<url-pattern>/home.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditNoticeServlet</servlet-name>
    	<url-pattern>/editnotice.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditPasswordServlet</servlet-name>
    	<url-pattern>/editpassword.do</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
    	<servlet-name>StatisticsWorkServlet</servlet-name>
    	<url-pattern>/statisticsWork.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserManagementServlet</servlet-name>
    	<url-pattern>/usermanagement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserEditServlet</servlet-name>
    	<url-pattern>/useredit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeployServlet</servlet-name>
    	<url-pattern>/deploy.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserWorkDetailServlet</servlet-name>
    	<url-pattern>/userworkdetail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NoticeListServlet</servlet-name>
    	<url-pattern>/noticelist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SendMailServlet</servlet-name>
    	<url-pattern>/sendmail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CallBackServlet</servlet-name>
    	<url-pattern>/callback.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserInfoEditServlet</servlet-name>
    	<url-pattern>/userInfoEdit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetJsTicketServlet</servlet-name>
    	<url-pattern>/getJsTicket.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RecordWorktimeServlet</servlet-name>
    	<url-pattern>/recordworktime.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MoneySubmitServlet</servlet-name>
    	<url-pattern>/moneysubmit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SendBillServlet</servlet-name>
    	<url-pattern>/sendbill.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CompanySettingServlet</servlet-name>
    	<url-pattern>/companysetting.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CompanyDetailServlet</servlet-name>
    	<url-pattern>/companydetail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CompanyEditServlet</servlet-name>
    	<url-pattern>/companyedit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EmployeeManageServlet</servlet-name>
    	<url-pattern>/employeemanage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CompanyManagementServlet</servlet-name>
    	<url-pattern>/companymanagement.do</url-pattern>
    </servlet-mapping>
</web-app>
